.wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}
.container {
  border: 0.5rem solid black;
  width: 30%;
  background-color: coral;
  padding: 1rem;
}

.username {
  display: flex;
  justify-content: center;
  color: blue;
}
.social-media {
  list-style: none;
  color: maroon;
}
